* {
  box-sizing: border-box;
}

html {
  background-color: white;
}

html,
body {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
}

body {
  background-color: hsl(236, 21%, 26%);
  background-image: url(images/bg-stars.svg), url(images/pattern-hills.svg);
  background-size: contain, contain;
  background-repeat: repeat, no-repeat;
  background-position: top, bottom;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 100px auto 20px;
  color: hsl(0, 0%, 100%);
}

.section {
  text-align: center;
}

.time {
  display: flex;
  justify-content: center;
  
}

.timers {
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
}

.time-p {
  /* display: inline-block; */
  
  background-color: hsl(237, 18%, 59%);
  color: hsl(345, 95%, 68%);
  padding: 10px;
  font-size: 40px;
  margin: 0.4rem;
  border-radius: 5px;
  text-align: center;
}

.timer-txt {
  text-align: center;
  color: hsl(237, 18%, 59%);
}

.footer {
  text-align: center;
  padding: 10px;
  /* position: absolute;
  bottom: 0; */
}

.icon {
  font-size: 40px;
  padding: 10px;
}

.icons {
  margin-bottom: 20px;
}

@media (min-width: 375px) {

  header {
    margin: 170px auto 20px;
  }
  

.time {
  display: flex;
  justify-content: center;
}

  .time-p {
    flex-shrink: 1;
    font-size: 4rem;
    text-align: center;
  }
}
